<div class="app_wrapper">
  <div>
    <h3 class="main_title">Resumen de Taeras Pendientes</h3>
  </div>
  <div class="squares_wrapper">
    <ul class="squares">
      <div style="display: flex; flex-direction: column">
        <li class="green">{{completed}}</li>
        <p style="font-size: 13px">Completadas</p>
      </div>
      <div style="display: flex; flex-direction: column">
        <li class="gray">{{total}}</li>
        <p style="font-size: 13px">Totales</p>
      </div>
      <div style="display: flex; flex-direction: column">
        <li class="red">{{pending}}</li>
        <p style="font-size: 13px">Pendientes</p>
      </div>

    </ul>
  </div>
  <div>
    <input class="form-control" type="text" class="" placeholder="Buscar..." />
  </div>
  <div class="PriorityItems">
    <div class="d-flex" style="align-items:center">
      <div style="width: 10px; height: 10px; background-color: #f44336 "></div>
      <p >Alta</p>
    </div>
    <div class="d-flex" style="align-items:center">
      <div style="width: 10px; height: 10px; background-color: #ddbe18"></div>
      <p >Media</p>
    </div>
    <div class="d-flex" style="align-items:center">
      <div style="width: 10px; height: 10px; background-color: #8bc34a"></div>
      <p >Baja</p>
    </div>
  </div>
  <div class="TodoList">
    {{#each todos}}
      <div
        style="display: flex; flex-direction: row; background-color: whitesmoke"
        class="border shadow-sm TodoItem my-2"
      >
        <div style="width: 70%;">
          <div style=" display: flex">
            <h5 class="" style="width: 160px">{{title}} - {{status}} </h5><i class="fa-solid fa-circle" style="font-size: 9px; color:{{color}} "></i>
          </div>
          <p class="description">{{description}}</p>
        </div>
        <div style="width: 30% ; display: flex">
          <div style="width: 75% ;justify-content: flex-end">
            <p class="date">{{dateTime}}</p>
          </div>

          <div style="width: 2%; justify-content: flex-end; "><i
              class="fa-solid fa-bars ml-1"
            ></i></div>

        </div>
      </div>
    {{/each}}
    {{!-- {{#each item}}
        <div></div>
    {{/each}} --}}
  </div>
  <div style="display:flex; justify-content: flex-end">
    <button
      type="button"
      class="btn bg-primary shadow"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      style="position: fixed; bottom: 40px; border-radius: 50%; width: 60px; height: 60px;"
    >
      <i class="fa-solid fa-plus text-white"></i>
    </button>
  </div>
</div>